@font-face {
  font-family: "Parisienne";
  src: url("./parisienne/Parisienne-Regular.ttf");
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
}
